$color = rgb(220,239,253)
$color1 =rgb(176,216,249)
$font_color = rgb(174,174,174)
$font_namecolor = rgb(43,43,43)
$font_name_size = 14px
.trelplyitem
    display block
    padding 12px 8px 7px 8px
    margin: 0 10px
    background: white
    border-bottom: 1px solid #e6e6e6
    color: $font_color
    .circle
        background: $color
        border: 1px solid $color1
        padding: 4px 12px
        height 20px
        display: inline-block
        border-radius: (@height/2)
        text-align: center
        color: $font_namecolor
        font-size: 12px
    &-name
        color $font_namecolor
        font-size: $font_name_size

