.replylist
    display none
    position: fixed
    left 0
    right 0
    bottom: 0
    /.active
        display: block
        z-index 999
    .t-text-field-input
        border: 1px solid rgba(31,56,88,0.4);
        border-radius: 4px;
    .color
        color: rgb(44,121,191)
    div.t-omit.t-text-field-placeholder
        font-size: 12px


