.replylistitem
    display block
    background: white
    color: rgb(181,181,181)
    border-bottom: 1px solid #e6e6e6
    padding-left: 10px
    padding-top: 10px
    padding-bottom: 10px
    .color
        color #333
    .title
        color: rgb(181,181,181)
